*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-image: url(KRB.jpeg);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background: transparent;
    transition: 0.5s;
    z-index: 1100;
}

.logo{
    position: relative;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.nav{
    display: flex;
    align-items: center;
}

.nav li{
    position: relative;
    list-style: none;
    margin: 0 20px;
}

.nav li a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 10px;
}

.nav li a:hover{
    color: beige;
}

.utility{
    display: flex;
    align-items: center;
}

.utility li{
    position: relative;
    list-style-type: none;
    margin: 0 10px;
}

.utility li a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

.utility li a ion-icon{
    font-size: 1.6em;
}

.utility li a:hover{
    color: beige;
}

.utility li .number{
    position: absolute;
    right: -6px;
    bottom: -5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: 0.6em;
    font-weight: 400;
}

.hero{
    position: relative;
    top: 30em;
    left: 33em;
    margin-bottom: 10px;

}

.hero .text {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}

