*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background: transparent;
    transition: 0.5s;
    z-index: 1100;
}

logo{
    position: relative;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.nav{
    display: flex;
    align-items: center;
}

.nav li{
    position: relative;
    list-style: none;
    margin: 0 20px;
}

.nav li a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 10px;
}

.nav li a:hover{
    color: beige;
}

